[global]
server.socket_host: '127.0.0.1'
server.socket_port: 7919 # SWIZ on a phone keypad :)

[swizzler]
rpc_url: 'http://user:pwd@127.0.0.1:28332' # change to rpcuser and rpcpassword from ~/.twister/twister.conf
num_messages: 23 # number of messages per page
num_trending_tags: 42 # let's party
hash_salt: 'RANDOM'

### Optional (but highly recommended):
### Uncomment and edit these lines to protect Swizzler with basic browser auth
### and block [e.g.] trojans from reading your DMs etc.
#browser_user: 'myeasytorememberuser'
#browser_password: 'myeasytorememberpassword'

[/]
tools.staticdir.root: "/PATH/HERE/static"

[/favicon.ico]
tools.staticfile.on: True
tools.staticfile.filename: "/PATH/HERE/static/favicon.ico"

[/assets]
tools.staticdir.on: True
tools.staticdir.dir: "assets"
