<li class="list-group-item media">
  <iframe class="thumbnail media-object {{#fromMe}}pull-right{{/fromMe}}{{^fromMe}}pull-left{{/fromMe}}"
    style="border:none; padding:0; background:none; overflow:hidden"
    width=33% height=105 seamless=seamless
    src="{{site_root}}/user_embed/{{username}}{{^username}}nobody{{/username}}{{#style_large}}/large{{/style_large}}{{#fromMe}}/from_me{{/fromMe}}"></iframe>
  <div class="media-body">
    {{#username}}
      <h5 class="media-heading">
        {{^is_messages}}
          <span class="pull-right small">
            {{^is_sponsored}}<a title="View twist details" href="{{site_root}}/twist/{{.}}/{{k}}">{{/is_sponsored}}{{time}}{{^is_sponsored}}</a>{{/is_sponsored}}
            {{#is_sponsored}}<span class="pull-right small">{{time}}</span>{{/is_sponsored}}
          </span>
        {{/is_messages}}
        {{#is_messages}}<span class="pull-right small">{{time}}</span>{{/is_messages}}
        {{#rt_username}}
          <small>
            <a href="{{site_root}}/user/{{.}}" title="@{{.}}'s profile">@{{.}}</a>
            <span class="glyphicon glyphicon-retweet"></span>
          </small>
        {{/rt_username}}
        <a href="{{site_root}}/user/{{username}}" title="@{{username}}'s profile"><strong>@{{username}}</strong></a>
        {{^is_twist}}{{#reply}}
          <small>
            <span class="glyphicon glyphicon-share-alt"></span>
            <a title="Re: @{{username}}'s twist" href="{{site_root}}/twist/{{username}}/{{k}}">@{{username}}</a>
          </small>
        {{/reply}}{{/is_twist}}
      </h5>
    {{/username}}
    {{^username}}
      <h5 class="media-heading">
        <span class="pull-right small">{{time}}</span>
        <a href="{{site_root}}/">@{{username}}</a>
      </h5>
    {{/username}}
    {{{message}}}
  </div>
</li>
