<div id="localusers" class="panel panel-primary">
  <div class="panel-heading">
    {{#info}}
      <div class="pull-right badge">Peers: {{dht_nodes}}/{{dht_global_nodes}}</div>
    {{/info}}
    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> Local users</h3>
  </div>
  <ul class="panel-body list-group media-list">
    {{#local_users}}
      <li class="media list-group-item avatars32{{#active}} active{{/active}}">
        <a {{#username}}title="@{{username}}'s home" {{/username}}class="pull-left thumbnail" href="{{site_root}}/{{#username}}home/{{.}}{{/username}}">
          <img class="media-object avatar" src="{{#avatar}}{{.}}{{/avatar}}{{^avatar}}/assets/img/twister-64.jpg{{/avatar}}" alt="{{fullname}}">
        </a>
        <div class="media-body">
          <h5 class="media-heading">
            {{^active}}
              <a {{#username}}title="@{{username}}'s home"{{/username}}
                 href="{{site_root}}/{{#username}}home/{{.}}{{/username}}">{{/active}}{{fullname}}{{^active}}</a>
            {{/active}}
          </h5>
            {{#username}}
              <a class="label label-primary" href="{{site_root}}/home/{{.}}" title="@{{.}}'s home"><span class="glyphicon glyphicon-home"></span></a>
              <a class="label label-primary" href="{{site_root}}/home/{{.}}/mentions" title="mentions of @{{.}}"><span class="glyphicon glyphicon-bell"></span></a>
              <a class="label label-primary" href="{{site_root}}/messages/{{.}}" title="direct messages from/to @{{.}}"><span class="glyphicon glyphicon-envelope"></span></a>
              <a class="label label-info" href="{{site_root}}/user/{{.}}" title="@{{.}}'s profile"><span class="glyphicon glyphicon-user"></span></a>
            {{/username}}
            {{^username}}
              (view sponsored posts)
            {{/username}}
        </div>
      </li>
    {{/local_users}}
  </ul>
</div>

    <form method=get action="{{site_root}}/tag" class="form-horizontal" role="search">
      <div class="form-group">
        <label class="col-xs-4 text-right" for="#tag">Tag <span class="glyphicon glyphicon-tag"></span></label>
        <div class="col-xs-8">
          <input id="tag" name="tag" type="text" class="form-control input-sm" placeholder="#twister"{{#user_prefix}} value="{{.}}"{{/user_prefix}}>
        </div>
      </div>
    </form>
    <form target="searchresult" tag="searchresult" method=get action="{{site_root}}/search_embed" class="form-horizontal" role="search">
      <div class="form-group">
        <label class="col-xs-4 text-right" for="#userprefix">Usernam... <span class="glyphicon glyphicon-user"></span></label>
        <div class="col-xs-8">
          <input id="userprefix" name="userprefix" type="text" class="form-control input-sm" placeholder="@twi"{{#user_prefix}} value="{{.}}"{{/user_prefix}}>
        </div>
      </div>
    </form>

    <iframe name="searchresult" class="thumbnail media-object {{#fromMe}}pull-right{{/fromMe}}{{^fromMe}}pull-left{{/fromMe}}"
      style="width:100%; border:none; padding:0; background:none; overflow:hidden"
      width=100 height=2645 seamless=seamless
      src="{{site_root}}/search_embed"></iframe>
  </div>
