<div class="panel panel-primary">
  <div class="panel-heading">
    {{#info}}
      <div class="pull-right badge">Peers: {{dht_nodes}}/{{dht_global_nodes}}</div>
    {{/info}}
    <h3 class="panel-title"><span class="glyphicon glyphicon-home"></span> Local users</h3>
  </div>
  <ul class="panel-body list-group media-list">
    {{#local_users}}
      <li class="media list-group-item avatars32{{#active}} active{{/active}}">
        <a {{#username}}title="@{{username}}'s home" {{/username}}class="pull-left thumbnail" href="{{site_root}}/{{#username}}home/{{.}}{{/username}}">
          <img class="media-object avatar" src="{{#avatar}}{{.}}{{/avatar}}{{^avatar}}/assets/img/twister-64.jpg{{/avatar}}" alt="{{fullname}}">
        </a>
        <div class="media-body">
          <h5 class="media-heading">
            {{^active}}
              <a {{#username}}title="@{{username}}'s home"{{/username}}
                 href="{{site_root}}/{{#username}}home/{{.}}{{/username}}">{{/active}}{{fullname}}{{^active}}</a>
            {{/active}}
          </h5>
          {{^active}}
            {{#username}}
              <a href="{{site_root}}/home/{{.}}" title="@{{.}}'s home"><span class="glyphicon glyphicon-home"></span></a>
              <a href="{{site_root}}/home/{{.}}/mentions" title="mentions of @{{.}}"><span class="glyphicon glyphicon-bell"></span></a>
              <a href="{{site_root}}/messages/{{.}}" title="direct messages from/to @{{.}}"><span class="glyphicon glyphicon-envelope"></span></a>
              <a href="{{site_root}}/user/{{.}}" title="@{{.}}'s profile"><span class="glyphicon glyphicon-user"></span></a>
            {{/username}}
            {{^username}}
              (view sponsored posts)
            {{/username}}
          {{/active}}
        </div>
      </li>
    {{/local_users}}
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <form method=get action="{{here}}" class="inline-form" role="search">
      <div class="form-group">
        <label for="#search"><span class="glyphicon glyphicon-search"></span> Search for tag or partial username</label>
        <input id="q" name="q" type="text" class="form-control" placeholder="#twister or @twi"{{#user_prefix}} value="{{.}}"{{/user_prefix}}>
      </div>
    </form>
</div>
  <div class="panel-body">
    {{#user_prefix}}
      <div class="label label-primary"><span class="glyphicon glyphicon-tags"></span> User prefix search: <strong><em>{{user_prefix}}</em></strong></div>
      <ul class="list-group">
        {{#users}}<li class="list-group-item"><a href="{{site_root}}/user/{{.}}" title="@{{.}}'s profile">@{{.}}</a></li>{{/users}}
        {{^users}}<li class="list-group-item"><h3><small>Nothing. Nada. Rien de rien. &#128557;</small></h3>{{/users}}
      </ul>
    {{/user_prefix}}
    {{^user_prefix}}
      <div class="label label-primary"><span class="glyphicon glyphicon-tags"></span> Trending tags</div>
      <ul class="list-group">
        {{#trending}}<li class="list-group-item">{{{.}}}</li>{{/trending}}
        {{^trending}}<li class="list-group-item"><h3>Can't find trending tags. <small>Nothing. Nada. Rien de rien. &#128557;</small></h3>{{/trending}}
      </ul>
    {{/user_prefix}}
  </div>
</div>
